*{
    margin: 0px;
    padding: 0px;
}

.container-nav{
    background-color: #640D5F;
    padding: 30px;
   
}


.navbar-brand{
    font-family: "Edu AU VIC WA NT Arrows", cursive;
    color: red;
    margin-top: 15px;
    
}

.dropdown{
    width: 100%;
    height: 40px;
    background-color: #D91656;
    list-style-type: none;
    font-weight: 100;
    font-size: 1.5rem;
    display: flex;

}
.dropdown-menu{
    background-color: #FFB200;
}

.dropdown1{
    margin-left: 40px;
}

@media (max-width:700px){
    .dropdown1{
      display: none;
      
    }
}

 @media (max-width:700px){
    .dropdown{
        display: none;
    }
}

.showcase{
    display: flex;
    margin-top: 10px;
}
.btn1{
    margin-left: 5px;
    width: 100px;
    height: 40px;

}
.button1{
  margin-left: 50px;
  
}




